@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/* ================ RESET ================ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    height: 100%;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

button {
    cursor: pointer;
    border: none;
}
/* ================ MAIN ================ */

main {
    display: flex;
    justify-content: center; 
    align-items: center;   
    height: 100vh; 
    max-width: 80%;
}

.container{
    display: flex;
    justify-content: center; 
    align-items: center;  
    flex-direction: column;
}

.formContainer{
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.iconos {
    width: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.iconos i {
    font-size: 25px;
    color: #dee2e6;
}

.iPrincipal {
    font-size: 50px;
    padding-bottom: 20px;
}

